.block-taxonomy-block{}
.block-taxonomy-block .content{text-align: center;}
.block-taxonomy-block span{
    margin: 5px;
    padding: 1px 10px;
    border: 1px solid #888888;
    border-radius: 5px;
    text-transform: capitalize;
    display: inline-block;
}

/*Changes on existance styling*/
.block-taxonomy-block a, .block-taxonomy-block a.link{border:none; }